.btn {
	&.btn-rosa {
		background-color: $cor-rosa;
		color: $cor-branca;
		@include transition(background-color .2s linear);
		padding: 5px 10px;

		&:hover {
			color: $cor-branca;
			background-color: $cor-rosa-hover;
			text-decoration: none;
		}
		&.btn-small {
			padding: 2px 6px;
		}
		&:focus, &:visited, &:active{
			box-shadow: none;
			outline:none; 
		}
	}

	&.btn-verde {
		background-color: $cor-verde;
		color: $cor-branca;
		@include transition(background-color .2s linear);
		padding: 5px 10px;

		&:hover {
			color: $cor-branca;
			background-color: $cor-verde-hover;
			text-decoration: none;
		}
		&.btn-small {
			padding: 2px 6px;
		}
		&:focus, &:visited, &:active {
			box-shadow: none;
			outline:none;
		}

		&.btn-modal {
			margin-right: 10px;
		}
	}

	&.btn-cinza {
		background-color: $cor-cinza;
		color: $cor-branca;
		@include transition(background-color .2s linear);
		padding: 5px 10px;

		&:hover {
			color: $cor-branca;
			background-color: $cor-cinza-hover;
			text-decoration: none;
		}

		&.btn-small {
			padding: 2px 6px;
		}
		&:focus,&:visited, &:active {
			box-shadow: none;
			outline:none;
		}
	}



}